{{ define "nacos/nacos_discovery.html"}}
<html lang="en">

<head>
    {{ template "common/page_head.html" . }}
    <style>
        pre.prettyprint {
            padding-left: 40px;
        }

        pre.prettyprint ol.linenums li {
            list-style-type: decimal;
        }

        .layui-form-item {
            position: relative;
            margin-bottom: 0px;
            clear: both;
        }
    </style>
</head>

<body style="margin-left: 0px;">
    <div id="myInput">
        <div class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">服务</label>
                <div class="layui-input-inline">
                    <input type="text" name="serviceName" id="serviceName" width="200" placeholder="请输入服务名称"
                        autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">命名空间ID</label>
                <div class="layui-input-inline" onclick="selectNamespace4Discovery()" style="width: 500px;">
                    <input type="radio" name="namespace" value="dev" title="dev">
                    <input type="radio" name="namespace" value="opendev" title="opendev">
                    <input type="radio" name="namespace" value="k8s-test" title="k8s-test" checked="">
                    <input type="radio" name="namespace" value="k8s-uat" title="k8s-uat">
                    <input type="radio" name="namespace" value="k8s-prod" title="k8s-prod" disabled="">
                </div>
            </div>
            <div class="layui-form-item">

            </div>
        </div>

    </div>
    <div>


        <table id="demo" lay-filter="test"></table>
    </div>
    <script src="/static/js/nacos.js"></script>
    <script>
        // 处理namespace单选框: 如果本地缓存中已经选择了namespace, 就勾选对应的单选框
        var namespace = window.localStorage.namespace || "k8s-test";
        $('input[type="radio"][name="namespace"][value="' + namespace + '"]').prop('checked', true);

        
    </script>
</body>

</html>
{{ end }}