{{ define "alert/add.html" }}
<html>
{{ template "common/page_head.html" . }}
<body>
<form class="layui-form" style="padding: 10px 30px 0 0"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">服务名称</label>
      <div class="layui-input-inline">
        <input type="text" name="app_name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>
      </div>
    </div>

    <div class="layui-inline">
      <label class="layui-form-label">状态</label>
      <div class="layui-input-inline">
        <input type="checkbox" lay-skin="switch" checked name="state"/>
      </div>
    </div>

  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">方法</label>
      <div class="layui-input-inline">
        <input type="radio" name="http_method" value="GET" title="GET" checked>
        <input type="radio" name="http_method" value="POST" disabled="" title="POST">
      </div>
    </div>

    <div class="layui-inline">
      <label class="layui-form-label">负责人</label>
      <div class="layui-input-inline">
        <input type="text"  name="owner" placeholder="请输入" lay-verify="required"  autocomplete="off" class="layui-input"/>
      </div>
    </div>
  </div>

  <div class="layui-form-item">

      <label class="layui-form-label">URL</label>
      <div class="layui-input-block">
        <input type="text" id="alertUrl" name="url" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input"/>
      </div>

  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">  <!-- onclick="submitAlertAdd();"-->
      <button class="layui-btn" lay-submit lay-filter="formDemo" >提交</button>
      <button class="layui-btn" onclick="testUrl()">测试</button>
      <button class="layui-btn" onclick="closeDialog()">关闭</button>
    </div>
  </div>
  <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>

</script>
</body>
</html>
{{end}}