{{ define "alert/list.html"}}
<html>
{{ template "common/page_head.html" . }}
<head>
    <script src="/static/js/alert/list.js?v=3"></script>
    <script src="/static/js/alert/add.js?v=3"></script>
</head>
<body>
<!--    <form class="layui-form">-->
        <!--隐藏区域-->
        <input type="hidden" id="env" value="{{.env}}"/>

        <!--条件搜索-->
        <div class="layui-form-item" style="margin-top: 15px;">
            <div class="layui-inline layui-col-md4">
                <label class="layui-form-label">服务名称</label>
                <div class="layui-input-block">
                    <input type="text" name="appName" id="appName"   placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline layui-col-md4">
                <label class="layui-form-label">负责人</label>
                <div class="layui-input-block">
                    <input type="text" name="owner" id="owner"   placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline layui-col-md3">
                <div class="layui-input-block">
                    <button id="searchBtn" class="layui-btn">搜索</button>
                    <button class="layui-btn layui-btn-primary" onclick="clearForm();">重置</button>
                </div>
            </div>
        </div>

        <!--数据表-->
        <table id="alertlist" lay-filter="test" lay-data="{id: 'alertTableId'}"></table>

    <!--</form>-->

<!--工具栏模板：-->
<script type="text/html" id="tableToolbar">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" onclick="loadAdd()">添加</a>
        <a class="layui-btn layui-btn-sm" onclick="delRow()">删除</a>
        <a class="layui-btn layui-btn-sm" onclick="loadEdit();">编辑</a>
        <input style="" id="autoRefresh" type="checkbox" lay-skin="switch" lay-filter="autoRefresh"
               lay-text="自动刷新|自动刷新" title=""></input>
    </div>
</script>
</body>
<script>
    dataTableInit();
</script>
</html>


{{end}}