{{ define "index/index.html"}}
<html lang="en">
<head>
    {{ template "common/page_head.html" . }}
</head>
<body onload="prettyPrint()">
<div class="firstRow">
    <div class="className"><input type="text" id="inputContent" placeholder="请输入..." onkeyup="cacheInput(this)"/></div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn  layui-btn-lg" onclick="mergeRequst();">MR</button>
        <button type="button" class="layui-btn  layui-btn-lg" onclick="convertSql(1);">insert</button>
        <button type="button" class="layui-btn  layui-btn-lg" onclick="convertSql(4);">update</button>
        <button type="button" class="layui-btn  layui-btn-lg" onclick="convertSql(6);">table-alias</button>
        <button type="button" class="layui-btn  layui-btn-lg" onclick="javaGetSet();">java-get-set</button>
        <button type="button" class="layui-btn  layui-btn-lg" onclick="java2Json();">java-json</button>
        <button type="button" class="layui-btn layui-btn-primary   layui-btn-lg" class="clearAll" onclick="clearAll()">清空</button>
    </div>
<!--    <div class="button-group">
        <button type="button" class="button button button-primary" onclick="mergeRequst();">MR</button>
        <button type="button" class="button button button-primary" onclick="convertSql(1);">insert</button>
        <button type="button" class="button button button-primary" onclick="convertSql(4);">update</button>
        <button type="button" class="button button button-primary" onclick="convertSql(6);">table-alias</button>
        <button type="button" class="button button button-primary" onclick="javaGetSet();">java-get-set</button>
        <button type="button" class="button button button-primary" onclick="java2Json();">java-json</button>
        <a href="#" onclick="clearAll();" class="clearAll">清空</a>
      </div>-->
</div>    
<div class="bodyDiv">
    <div class="codeDiv">
        <textarea id="leftContent" width="100%" autoHeight="true"  onkeyup="cacheLeft(this)"></textarea>
    </div>
    <div class="viewDiv">
        <xmp id="rightContent"></xmp>
    </div>
</div>

</body>
<script>
    reqlog('index')
    // 恢复缓存
    if(window.localStorage.inputContent){
        $("#inputContent").val(window.localStorage.inputContent);
    }
    if(window.localStorage.leftContent){
        $("#leftContent").val(window.localStorage.leftContent);
    }
</script>
</html>
{{ end }}